.chamada{
    background: yellow;
    display: flex;
    padding-top: 80px;
    padding-bottom: 80px;
    justify-content: center;
}
body{
    background: purple;
    margin: 0px;
    font-family: "Sour Gummy", sans-serif;
    color: black;
    margin-bottom: 100px;
}